body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Courier New', Courier, monospace
}

.avatar {
    width: 150px;
    scale: .8;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: #d8f3dc;
    color: #2b2839;
    border: 5px solid #1b4332;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #1b4332;
}
    
.card:hover {
    filter: drop-shadow(0px 0px 5px #081c15);
}

.card:hover .avatar {
    filter: drop-shadow(0px 0px 2px #1b4332);
    animation: dance 1.5s ease-out infinite normal;
}

@keyframes dance {
     0% {
        transform: rotate(0deg); /* Start at 0 degrees rotation */
      }
      80% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(360deg); /* Rotate to 360 degrees */
      }
}
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
